@import "../variables";
@import "../mixins";
@import "../fonts";

// user-section START
.dashboard-wrapper {
  padding: 0 2%;
  @include flex-column;
  row-gap: clamp(24px, 2.7vw, 40px);
  padding-top: clamp(80px, 8.3vw, 120px);
  section {
    // padding: $sp-30 2%;
    border-radius: 50px;
    background-color: $color-w-o05;
  }
  h2 {
    @include font-h5-eb;
    color: $color-black;
    @include md {
      @include font-md-b;
    }
  }
}

.user-section {
  padding: clamp(12px, 2vw, 30px);
  background-color: $color-gray-100;
  border-radius: clamp(12px, 1.3vw, 20px);
  .user-section__email {
    font-size: clamp(16px, 1.3vw, 20px);
    line-height: clamp(24px, 2vw, 30px);
    font-weight: 700;
    color: #353535;
    margin-bottom: $sp-16;
    text-align: right;
  }
  .user-section__flex {
    @include flex-between;
    @include md {
      flex-direction: column-reverse;
      align-items: flex-start !important;
    }
    & > * {
      flex: 0 0 49%;
    }
  }
  .user-section__wallet {
    @include flex-column;
    row-gap: $sp-12;
    @include md {
      column-gap: $sp-08;
      row-gap: $sp-08;
    }
    li {
      @include flex-start;
      column-gap: clamp(8px, 0.8vw, 12px);
      span {
        @include font-sm-r;
        color: $color-gray-600;
        @include md {
          @include font-xs-r;
        }
      }
      strong {
        @include font-h3;
        color: $color-black;
        margin-left: clamp(8px, 0.8vw, 12px);
        @include md {
          @include font-sm-b;
        }
      }
    }
    li:last-of-type {
      @include md {
        align-items: flex-start;
      }
    }
    .user-section__wallet__copy-com {
      @include flex-start;
      column-gap: 12px;
      img {
        @include md {
          max-width: 20px;
        }
      }
    }
    .btn-register {
      @include font-sm-b;
      color: $color-gray-000;
      padding: 8px 24px;
      font-size: 14px;
      background-color: $color-primary;
      border-radius: 12px;
      @include md {
        @include font-xs-b;
      }
    }
    .user-section__referral-code-com {
      @include flex-start;
      column-gap: 12px;
      row-gap: 4px;
      @include md {
        flex-direction: column;
        align-items: flex-start;
      }
      &__btn-box {
        @include flex-start-full;
        column-gap: 10px;
      }
    }
    .btn-line-copy {
      padding: 4px clamp(10px, 1.3vw, 20px);
      font-size: clamp(12px, 0.9vw, 14px);
      line-height: clamp(18px, 1.5vw, 22px);
      border: 1px solid $color-gray-300;
      background-color: $color-b-o05;
      font-weight: 400;
      border-radius: 8px;
      transition: all 0.3s ease;
      &.copied {
        color: #a8a8a8;
        border: 1px solid $color-w-o05;
      }
    }
  }
  .color-blue {
    color: $color-primary !important;
  }
}
// user-section END

// dash-section START
.dash-section {
  // @include md {
  //   padding: $sp-30 4% !important;
  // }
  .dash-section__tit {
    margin-bottom: $sp-30;
    @include md {
      margin-bottom: $sp-16;
    }
  }
  .dash-section__txt {
    @include flex-column;
    gap: clamp(8px, 1.1vw, 16px);

    .dash-section__txt__board {
      @include flex-between;
      column-gap: 1.5%;
      row-gap: 8px;
      color: $color-gray-000;
      background-color: $color-gray-100;
      border-radius: 16px;
      padding: clamp(12px, 1.3vw, 20px) clamp(12px, 2vw, 30px);

      @include md {
        flex-wrap: wrap;
      }
      @include xs {
        flex-direction: column;
        align-items: flex-start;
      }

      li {
        padding: 0 1.5%;
        // 공통 레이아웃
        &:first-of-type {
          flex: 0 0 35%;
          max-width: 35%;
          position: relative;
          @include md {
            flex-basis: 100%;
            max-width: 100%;
            &::after {
              display: none;
            }
          }
          @include xs {
            flex-basis: 100%;
            max-width: 100%;
          }
          &:after {
            position: absolute;
            content: "";
            width: 1px;
            height: 30px;
            background-color: $color-gray-300;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      // 4열 레이아웃 ()
      &.col-4 li:not(:first-of-type) {
        flex: 1 1 calc((65% - (1.5% * 3)) / 3);
        max-width: calc((65% - (1.5% * 3)) / 3);
        @include md {
          flex-basis: 30.33%;
          max-width: 30.33%;
        }
        @include xs {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
      // 3열 레이아웃
      &.col-3 li:not(:first-of-type) {
        flex: 1 1 calc((65% - (1.5% * 2)) / 2);
        max-width: calc((65% - (1.5% * 2)) / 2);
        @include md {
          flex-basis: 48.5%;
          max-width: 48.5%;
        }
        @include xs {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
      h3 {
        @include font-sm-b;
        color: $color-gray-600;
        margin-bottom: 8px;
        @include md {
          @include font-xs-b;
        }
      }
      p {
        @include font-h5-b;
        color: $color-black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include md {
          @include font-sm-b;
        }
      }
    }
    // .dash-section__txt__list {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: stretch;
    //   flex-wrap: wrap;
    //   column-gap: 1.5%;
    //   row-gap: 16px;
    //   li {
    //     border-radius: 16px;
    //     border: 1px solid $color-w-o20;
    //     padding: $sp-20;
    //     width: 23.5%;
    //     h3 {
    //       @include font-sm-r;
    //       color: $color-gray-600;
    //       @include md {
    //         @include font-xs-r;
    //       }
    //     }
    //     p {
    //       @include font-xl-b;
    //       color: $color-black;
    //       @include md {
    //         @include font-sm-b;
    //       }
    //     }
    //     @include md {
    //       width: 48%;
    //     }
    //   }
    // }
  }
}
// dash-section END

// dashboard.scss 안에 포함
.table-section {
  padding: $sp-30 2%;
  @include md {
    padding: $sp-16 4%;
  }

  .table-section__tit {
    @include flex-between;
    margin-bottom: $sp-30;
    @include md {
      margin-bottom: $sp-16;
    }
    &__tit-button {
      @include flex-start;
      gap: 12px;

      // h2{
      //     @include font-h5-eb;
      //     color: $color-black;
      // }
      .btn-sm {
        @include font-sm-b;
        color: $color-black;
        padding: $sp-08 $sp-16;
        background-color: $color-primary;
        border-radius: 12px;
      }
    }

    a {
      @include font-md-b;
      @include flex-start;
      gap: 4px;
      color: $color-gray-600;
      padding-right: 20px;
      background: url("../../assets/images/icon-arrow-right.svg") no-repeat right center / 15px;
      @include md {
        @include font-sm-b;
      }
    }
  }

  .table-section__tit__list-head {
    @include flex-between;
    border-bottom: 1px solid $color-gray-200;
    @include font-sm-r;
    color: $color-gray-600;

    .col {
      flex: 1;
      text-align: center;
      padding: 0 $sp-20;
      @include font-sm-r;
      @include md {
        @include font-xs-r;
      }

      &.col--btn {
        flex: 0 0 auto;
        text-align: center;
      }
    }

    @include md {
      flex-wrap: wrap;
      row-gap: $sp-08;
      font-size: 12px;
    }
  }

  .list-item {
    @include font-sm-r;
    color: $color-black;
    border-bottom: 1px solid $color-gray-200;
    @include md {
      font-size: $fs-12 !important;
    }

    &__row {
      @include flex-start;
      flex-wrap: wrap;

      .col {
        flex: 1;
        text-align: center;

        &.col--btn {
          flex: 0 0 auto;
          text-align: center;
        }
      }

      .badge {
        @include font-sm-b;
        padding: $sp-04 $sp-10;
        border-radius: 8px;
        color: $color-black;

        &--requested {
          background: $color-primary;
        }
        &--ready {
          color: $color-primary;
        }
        &--canxel {
          color: #ff3e3e;
        }
      }

      .toggle-btn {
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .list-item__detail {
      @include flex-between;
      @include font-sm-r;
      border-top: 1px solid $color-w-o10;
      color: $color-gray-600;
      @include md {
        @include font-xs-r;
      }
      .list-item__detail__list {
        width: 50%;
        @include md {
          width: 100%;
          font-size: $fs-12;
        }
      }
    }
    p {
      @include flex-start;
      row-gap: 8px;
      column-gap: 10px;
      b {
        width: 30%;
      }
      span {
        width: 70%;
        @include flex-start;
        column-gap: 8px;
        img {
          width: 100%;
          max-width: 20px;
        }
      }
    }
  }
}

.table-empty {
  @include font-xl-b;
  margin-top: $sp-16;
  text-align: center;
  color: $color-black !important;
  padding: $sp-40;

  @include md {
    @include font-sm-b;
  }
}
.table-section__tit__list-item {
  .col--action {
    @include flex-column;
    gap: 4px;
  }
  .btn--line-mini {
    @include font-sm-r;
    color: $color-black;
    background-color: $color-w-o05;
    border: 1px solid $color-w-o20;
    padding: $sp-04 $sp-10;
    border-radius: 8px;
    @include md {
      @include font-xs-r;
    }
  }
}
// accordion toggle button
.toggle-btn-box {
  position: relative;
}
.toggle-btn {
  position: absolute !important;
  right: 0 !important;
  width: 15px !important;
  height: 20px !important;
}

.toggle-btn {
  transition: transform 0.3s ease;

  &.rotate {
    transform: rotate(180deg);
  }
}

// (공통) Content Modal START
.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  @include md {
    min-height: 260px;
  }
  .modal__content {
    height: 100%;
  }
  .modal__header {
    @include flex-between;
    @include font-xl-b;
    color: $color-black;
    margin-bottom: $sp-30;
    @include md {
      @include font-md-b;
    }
  }
  .modal__body {
    margin-bottom: auto;
  }
  .modal__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    .btn-content-modal {
      width: 100%;
    }
  }
}

// 개별 modal height 지정
.modal-wallet {
  min-height: 550px;
  .modal__footer {
    @include md {
      padding: 0 0 20px;
      width: calc(100% - 40px);
    }
  }
}
.modal-transaction {
  min-height: 630px;
  .modal__body {
    @include flex-column;
    row-gap: 16px;
  }
}
.modal-create-code {
  min-height: 550px;
  .modal__body {
    @include md {
      margin-bottom: 30px;
      .user-share {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        row-gap: 10px;
        b {
          white-space: nowrap;
        }
      }
    }
  }
  &.create {
    .full-modal-content .modal__footer {
      width: 100% !important;
    }
  }
}

// twoway-inputField START
.twoway-inputField {
  @include flex-between;
  column-gap: 12px;
  label {
    display: block;
    // margin-bottom: 8px;
  }
  input {
    padding: $sp-16 $sp-20;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    border: 1px solid $color-w-o05;
    background-color: $color-w-o05;
    color: $color-black;
    &:focus {
      color: $color-black;
      &::placeholder {
        color: transparent;
        @include md {
          @include font-sm-r;
        }
      }
    }
  }
}
// twoway-inputField END

// total-amount-field STATT
.total-amount-field {
  b {
    @include font-sm-r;
    color: $color-gray-600;
    @include md {
      @include font-xs-r;
    }
  }
  p {
    @include font-xl-b;
    font-size: 20px;
    color: $color-black;
    @include md {
      @include font-md-b;
    }
    span {
      @include font-xl-b;
      font-size: 30px;
    }
  }
}
// total-amount-field END

// modal-create-code START
.modal-create-code {
  .modal__body {
    @include flex-column;
    row-gap: 24px;
  }
}
.user-share {
  @include flex-between;
  > div {
    width: 50%;
    b {
      @include font-md-r;
      color: $color-gray-600;
      margin-right: 8px;
      @include md {
        @include font-sm-r;
      }
    }
  }
}

.share-setting {
  &__label {
    margin-bottom: $sp-12;
    @include font-sm-r;
    color: $color-gray-500;
  }

  &__options {
    @include flex-start;
    gap: 8px;
    @include lg {
      @include flex-column;
      align-items: stretch;
    }
  }
  &__left {
    @include flex-start;
    gap: 8px;
    .share-option {
      width: 100%;
      justify-content: center;
    }
  }
}

.share-option {
  @include font-sm-r;
  @include flex-between;
  width: 100%;
  padding: $sp-12;
  border-radius: 12px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $color-black;
  cursor: pointer;
  @include md {
    @include font-xs-r;
  }

  &.is-active {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;
  }

  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

// modal-create-code END

// Modal END

// table-center style START
.table-center {
  .table-section {
    .table-section__tit__list-head {
      .col {
        padding: 0 20px;
      }
    }
    .table-section__tit__list-head,
    .list-item {
      .col {
        text-align: left !important;
        justify-content: flex-start;
      }
      .wallet-copy-com.flex-left {
        justify-content: flex-start !important;
      }
    }
  }
}

// 0903 하늘 로딩 추가
// :root {
//   --node-header-height: 0px;
// } // JS가 덮어씀

/* 헤더가 항상 위 */
.node-header {
  position: fixed; /* 또는 fixed */
  top: 0;
  z-index: 3000;
  background: #fff;
}

/* 본문 인터랙션 잠금 */
.is-loading {
  pointer-events: none;
}

/* 헤더 아래만 흰 배경으로 덮는 오버레이 */
.loading-overlay {
  position: fixed;
  top: var(--node-header-height); /* ★ 캐러셀 포함한 헤더 높이 */
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2500; /* 헤더(3000)보다 낮게 */
  background: #fff;
}

.loading-overlay__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
