@import '../variables';
@import '../mixins';
@import '../fonts';

html,
body {
  height: 100%;
}

.login__wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__box {
  width: 100%;
  max-width: 500px;
  padding: $sp-40 2% $sp-20;
  border-radius: $sp-24;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.10);
  @include md{
    box-shadow: none;
    border-radius: none;
  }
}

.login__logo {
  text-align: center;
  margin-bottom: $sp-80;

  img {
    width: 100%;
    max-width: 370px;
    margin: 0 auto $sp-24;
  }
  span {
    @include font-h5-eb;
    color: $color-black;
  }
}

.login__form {
  display: flex;
  flex-direction: column;

  fieldset {
    margin-bottom: $sp-40;
  }
}

.btn {
  @include font-md-b;
  display: flex;
  padding: $sp-16;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 12px;
  color: $color-gray-000;
  background-color: $color-primary !important;

  &-login {
    background-color: $color-primary !important;
    border: none;
    color: $color-gray-000 !important;
  }

  &-signup {
    background-color: transparent !important;
    border: 1px solid $color-gray-600;
    margin-top: $sp-12;
    color: $color-black !important;
  }

  // 평상시에는 안 보이게
  .loading-dots {
    display: none;
  }
  // 버튼 초기 비활성화 상태
  &--disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  // 버튼 활성화 상태
  &--active {
    opacity: 1;
  }
  // 로딩 상태
  &--loading {
    background-color: rgba(58, 157, 227, 0.5);
    position: relative;
    pointer-events: none;
    .loading-dots {
      display: inline-block;
    }
  }
}

@media (max-width: $responsive-md) {
  .login__wrapper {
    align-items: flex-start;
    padding: 0 4% $sp-20;
  }
  .login__box {
    padding-top: $sp-40 0 0;
  }
  .login__logo {
    img {
      max-width: 300px;
    }
    span {
      @include font-md-b;
    }
  }
  .login__form fieldset {
    margin-bottom: 0;
  }
  .login {
    .btn {
      @include font-sm-b;
      width: 92%;
      max-width: 500px;
      position: absolute;
    }

    .btn-login {
      margin-bottom: 86px;
      bottom: 0;
    }

    .btn-signup {
      bottom: 20px;
    }
  }
}
