@import '../variables';
@import '../mixins';
@import '../fonts';

.signup__wrapper {
  width: 100%;
  max-width: 500px !important;
  margin: $sp-40 auto 0 !important;
  h2 {
    @include font-xl-eb;
    color: $color-gray-000;
    margin-bottom: $sp-40;
    @include md {
      @include font-md-b;
    }
  }
}
// (공통) signup__form START
.signup__form {
  @include flex-column;
  row-gap: 40px;
  fieldset {
    @include flex-column;
    row-gap: 8px;
    legend {
      @include font-md-b;
      color: $color-gray-000;
      margin-bottom: $sp-16;
      @include md {
        @include font-sm-b;
      }
    }
    label {
      @include font-sm-r;
      color: $color-gray-600;
      @include md {
        @include font-xs-r;
      }
    }
    .input-btn-field {
      @include flex-column;
      row-gap: 8px;
      .input-btn-field__box {
        @include flex-between;
        align-items: stretch;
        column-gap: 8px;
        input {
          padding: $sp-16 $sp-20;
          width: 66%;
          border-radius: 12px;
          border: 1px solid $color-w-o05;
          background-color: $color-w-o05;
          color: $color-gray-000;
          height: auto;
          &:focus {
            color: $color-gray-000;
            &::placeholder {
              color: transparent;
            }
          }
          &.error-case {
            border-color: #ff2525;
          }
        }
        .btn {
          @include font-sm-b;
          color: $color-gray-000 !important;
          background-color: $color-primary !important;
          border-radius: 12px;
          @include md {
            @include font-xs-b;
          }
          // 평상시에는 안 보이게
          .loading-dots {
            display: none;
          }
          // 버튼 초기 비활성화 상태
          &--disabled {
            opacity: 0.2 !important;
            pointer-events: none;
          }
          // 버튼 활성화 상태
          &--active {
            opacity: 1;
          }
          // 로딩 상태
          &--loading {
            background-color: rgba(58, 157, 227, 0.5);
            position: relative;
            pointer-events: none;
            .loading-dots {
              display: inline-block;
            }
          }
        }
      }
      &__error-txt {
        @include font-xs-r;
        color: $color-gray-600;
        display: none;
      }

      // 에러 상태 클래스 (div에 input-btn-field--error가 붙었을 때)
      &--error {
        .input-btn-field__box input {
          border-color: #ff2525;
        }

        .input-btn-field__error-txt {
          display: block;
        }
      }
    }
  }
}
// signup__form END

.signup__form__email {
  .input-btn-field:first-of-type {
    margin-bottom: $sp-24;
  }
}

// E-Mail Timer
.input-btn-field__info {
  @include font-sm-r;
  @include flex-between;
  color: $color-gray-600;
  .input-btn-field__resend {
    @include flex-start;
    column-gap: 4px;
  }
  button,
  strong {
    font-weight: 700;
    color: $color-gray-000;
  }
}
// Password rules
.password-rules {
  margin-bottom: $sp-24;
  li {
    @include font-sm-r;
    color: $color-gray-600;
    padding-left: 30px;
    background: url(../../assets/images/icon-check.svg) no-repeat left center / 20px;

    &.check {
      background-image: url(../../assets/images/icon-check-blue.svg);
      color: $color-primary;
    }
  }
}
#userPwConfirm {
  width: 100%;
}
