/* ============================================================
   ▶ Variables Design Guide
============================================================ */


/* -------------------- Color Palette -------------------- */
// Primary Color
$color-primary: #48B3FF;
$color-primary-dark: #3A9DE3;

// BG_Gradient
$bg-gradient: linear-gradient(154deg, #000000 4.97%, #222222 77.35%);

// Opacity Varients
$color-w-o05: rgba(255, 255, 255, 0.05);
$color-w-o10: rgba(255, 255, 255, 0.10);
$color-w-o20: rgba(255, 255, 255, 0.20);
$color-w-o50: rgba(255, 255, 255, 0.50);

$color-b-o05: rgba(0, 0, 0, 0.05);
$color-b-o10: rgba(0, 0, 0, 0.10);
$color-b-o50: rgba(0, 0, 0, 0.50);
$color-b-o70: rgba(0, 0, 0, 0.70);
$color-b-o80: rgba(0, 0, 0, 0.80);

// Gray Scales
$color-gray-900: #181818;
$color-gray-800: #303030;
$color-gray-700: #4B4B4B;
$color-gray-600: #767676;
$color-gray-500: #959595;
$color-gray-400: #A8A8A8;
$color-gray-300: #BBBBBB;
$color-gray-000: #FFFFFF;

/* -------------------- Typography -------------------- */
// Font Size
$fs-48: 48px;
$fs-40: 40px;
$fs-34: 34px;
$fs-30: 30px;
$fs-26: 26px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-11: 11px;

// Font-weight
$fw-exbold: 800;
$fw-bold: 700;
$fw-regul: 400;

/* -------------------- Spaing -------------------- */
$sp-04: 4px;
$sp-06: 6px;
$sp-08: 8px;
$sp-10: 10px;
$sp-12: 12px;
$sp-16: 16px;
$sp-20: 20px;
$sp-24: 24px;
$sp-30: 30px;
$sp-36: 36px;
$sp-40: 40px;
$sp-60: 60px;
$sp-80: 80px;


/* -------------------- responsive (breakpoint) -------------------- */
$responsive-lg: 1200px;
$responsive-md: 999px;
$responsive-sm: 768px;