@import './variables';
@import './mixins';
@import './fonts';

body{
    background: $bg-gradient no-repeat center / cover fixed;
}
.page-wrapper{
    max-width: 1440px !important;
    margin: $sp-40 auto 0 !important;
    padding: 54px 0 $sp-60;
    @include md{
        padding: 46px 4% $sp-30;
    }
}

// scroll style START
.table-section {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.table-section-inner{
    min-width: 1279px;
}
// scroll style END


// Layout Setting
.layout{
  @include flex-column;
  min-height: 100vh;
  .page-wrapper{
    flex: 1 0 auto;
  }
  footer{
    flex-shrink: 0;
  }
}