@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/fonts';

.copy-button{
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  transition: all 0.3s ease;
  img.icon{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:hover{
    opacity: 0.8;
  }

  &:disabled{
    cursor: not-allowed;
    opacity: 0.4;
  }
}
