@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/fonts';

.node-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $sp-24 2%;
  background-color: rgba(#181818, 0.7);
  z-index: 1;

  @include md {
    padding: $sp-16 4%;
  }

  &__inner {
    max-width: 1440px;
    margin: 0 auto;
    @include flex-between;
    &__logo{
      cursor: pointer;
      img {
        width: 100%;
        max-width: clamp(200px, 20vw, 300px);
      }
    } 
  }


  &__actions {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__lang {
    display: flex;
    align-items: center;
    column-gap: 4px;

    span {
      @include font-sm-b;
      color: $color-gray-400;

      @include md {
        @include font-xs-b;
      }
    }
  }

  &__sign-out {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
