@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/fonts";

.input-field {
  @include flex-column;
  row-gap: 8px;
  // 하늘 feat: SignUp 비밀번호 확인에 토글 기능 추가되면서 input 가로 꽉채우기 위함!
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  label {
    @include font-sm-r;
    color: $color-gray-600;
    @include md {
      @include font-xs-r;
    }
  }

  &__box {
    position: relative;
  }

  input {
    @include font-sm-r;
    padding: $sp-16 $sp-20;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    border: 1px solid $color-w-o05;
    background-color: $color-w-o05;
    color: $color-gray-000;
    &:focus {
      color: $color-gray-000;
      &::placeholder {
        @include font-sm-r;
        color: transparent;
      }
    }
  }

  // eyeIcon 있을 때
  .has-icon input {
    padding-right: 44px;
  }

  // eyeIcon style
  &__icon-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 24px;
      opacity: 0.6;
    }
  }
}
