@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/fonts';

.node-input-field {
  @include flex-column;
  row-gap: 8px;
  // 하늘 feat: SignUp 비밀번호 확인에 토글 기능 추가되면서 input 가로 꽉채우기 위함!
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  label {
    @include font-sm-r;
    color: $color-gray-600;
    @include md {
      @include font-xs-r;
    }
  }

  &__box {
    position: relative;
  }

  input {
    @include font-sm-r;
    padding: $sp-12 $sp-16 !important;
    width: 100% !important;
    border-radius: 12px !important;
    border: 1px solid $color-b-o10 !important;
    background-color: $color-w-o05 !important;
    color: $color-black !important;
    height: auto !important;
    &:focus {
      color: $color-black;
      border-color: $color-b-o50 !important;
      &::placeholder {
        @include font-sm-r;
        color: transparent;
      }
    }
  }

  // eyeIcon 있을 때
  .node-has-icon input {
    padding-right: 44px;
  }

  // eyeIcon style
  &__icon-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-color: transparent !important;
    border: none;
    padding: 0;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 24px;
      opacity: 0.6;
    }
  }
}
