@import "../../styles/variables";
@import "../../styles/mixins";

.table-section {
  &__tit {
    @include flex-between;
    margin-bottom: $sp-16;

    a {
      font-size: 14px;
      color: $color-primary;
    }
  }

  &__tit__list-head {
    @include font-sm-r;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 0;
    color: $color-gray-400;
    @include md {
      @include font-xs-r;
    }

    .col {
      text-align: left;
    }
  }

  .list-item {
    border-bottom: 1px solid $color-w-o05;

    &__row {
      @include font-sm-r;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      padding: 14px 0;
      @include md {
        @include font-xs-r;
      }

      .col {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .status {
        @include font-sm-b;
        @include md {
          @include font-xs-b;
        }

        &--requested {
          // 승인요청
          background-color: transparent;
          color: #a8a8a8;
          padding: 4px 20px;
        }

        &--approved,
        &--settlement_pending,
        &--settled {
          // 승인완료, 정산대기, 정산완료
          background-color: transparent;
          // color: $color-gray-000;
        }

        &--pending {
          // 승인대기
          background-color: transparent;
          color: $color-primary;
        }

        &--cancelled {
          // 승인취소
          background-color: transparent;
          color: #ff3232;
        }

        &--failed {
          // 대기
          background-color: #a8a8a8 !important;
          color: #a8a8a8 !important;
        }

        &--success {
          // 완료
          background-color: transparent;
          color: $color-primary;
        }
      }

      .col--btn {
        display: flex;
        justify-content: flex-end;

        button {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &__detail {
      margin-top: $sp-12;
      padding: $sp-16;

      .info-table {
        width: 100%;

        .info-header {
          @include font-sm-b;
          display: flex;
          padding: $sp-08 0;
          color: $color-gray-400;
          @include md {
            @include font-xs-b;
          }

          .col {
            flex: 1;
            text-align: center;

            &.col--email {
              text-align: left;
              padding: 0 $sp-12;
            }
          }
        }

        .info-row {
          @include font-sm-r;
          display: flex;
          padding: $sp-08 0;
          color: $color-gray-000;
          @include md {
            @include font-xs-r;
          }

          .col {
            flex: 1;
            text-align: center;

            &:first-child {
              text-align: left;
            }

            &.col--email {
              padding: 0 $sp-12;
              a {
                @include flex-start;
                column-gap: 6px;
              }
              strong {
                @include font-sm-b;
                @include md {
                  @include font-xs-b;
                }
              }
              span {
                @include font-sm-r;
                color: $color-gray-400;
                @include md {
                  @include font-xs-r;
                }
              }
            }
          }
        }
      }
    }
  }
}
